* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}
h4 {
	text-align: left;
	padding-left: 2%;
	color: gray;
	font-size: 34pt;
}
.header {
	text-align: center;
}
.header div{
	padding: 1% 10% 1%;
	font-size: 34pt;
	text-align: center;
	color: gray;
	display: inline-block;
	margin: auto;
	width: 33%;
	border-bottom: 2px solid gray;
}
.header div:hover {
	cursor: pointer
}
a {	
	padding: 5%;
	font-size: 20pt;
}

p {
	margin-top: 5%;
}

#today {
	display: none;
}
#week {
	display: none;
}
#month {
	display: none;
}

